/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ruta actualizada con el nombre exacto de tu archivo */
  background: url('/Fondo_Rieti.png') center/cover no-repeat fixed;
  font-family: sans-serif;
}